<kd-content-card ng-if="!ctrl.showDeploynow">
    <kd-title>[[基础镜像|基础镜像]]</kd-title>
    <kd-content layout="row">
        <!-- {{ctrl.choicedBaseimage.name}} -->
        <!-- <md-radio-group ng-change="ctrl.choiceBaseimage(event)" ng-model="ctrl.choicedBaseimage" layout="row"> -->
        <md-card class="kd-chart-card" style="width:200px;height: 250px;" ng-class="image.name==ctrl.choicedBaseimage.name?'kd-chart-card-selected':''" ng-repeat="image in ctrl.baseimageList track by $index" ng-click="ctrl.choiceBaseimage(image)">
            <!-- <img ng-src="{{image.icon}}" class="md-card-image" alt="Washed Out"> -->
            <md-card-content>
                <img class="kd-chart-card-icon-image" ng-src="{{image.icon}}" />
                <h2 class="kd-chart-card-text-name">{{image.name}}</h2>
                <div class="kd-chart-color-secondary">{{image.tag}}</div>
                <p class="kd-chart-card-text-description kd-chart-color-secondary">{{image.help}}</p>
            </md-card-content>
            <!-- <md-radio-button flex ng-value="image" class="md-primary" aria-label="image.name">
                </md-radio-button> -->
        </md-card>
        <!-- <md-radio-button ng-class="image.name==ctrl.choicedBaseimage.name?'kd-chart-card-selected':''" ng-repeat="image in ctrl.baseimageList track by $index" style="width:200px" flex ng-value="image" class="md-primary" aria-label="image.name">
                <md-card style="wdith:200px;">
                    <img ng-src="aaaaa" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{image.name}}</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </md-radio-button> -->
        <!-- </md-radio-group> -->
    </kd-content>
    <kd-footer layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="ctrl.kdService.showS2IDialog(ctrl.choicedBaseimage)">[[S2I|S2I]]</md-button>
    </kd-footer>
</kd-content-card>
<kd-content-card ng-if="!ctrl.showDeploynow">
    <kd-title>[[自定义镜像|自定义镜像]]</kd-title>
    <kd-content layout="row" layout-wrap>
        <md-card class="kd-chart-card" style="width:200px;height: 250px;" ng-class="image.name==ctrl.choicedNormalimage.name?'kd-chart-card-selected':''" ng-repeat="image in ctrl.normalimageList track by $index" ng-click="ctrl.choiceNormalimage(image)">
            <!-- <img ng-src="{{image.icon}}" class="md-card-image" alt="Washed Out"> -->
            <md-card-content>
                <img class="kd-chart-card-icon-image" ng-src="{{image.icon}}" />
                <h2 class="kd-chart-card-text-name">{{image.name}}</h2>
                <div class="kd-chart-color-secondary">{{image.tag}}</div>
                <p class="kd-chart-card-text-description kd-chart-color-secondary">{{image.help}}</p>
            </md-card-content>
        </md-card>
    </kd-content>
    <kd-footer layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="ctrl.deploypre()">[[创建应用|创建应用]]</md-button>
    </kd-footer>
</kd-content-card>
<form name="ctrl.form" ng-if="ctrl.showDeploynow" ng-submit="ctrl.deploynow()">
    <kd-content-card>
        <kd-content class="kd-content-padded">
            <md-input-container class="md-block">
                <label>[[应用名称|应用名称]]</label>
                <input name="releasename" type="text" required repeat ng-model="ctrl.releasename">
                <div ng-messages="ctrl.form.releasename.$error">
                    <div ng-message="repeat">
                        [[名字重复|部署应用名字重复提示]]
                    </div>
                </div>
            </md-input-container>
            <md-button class="md-raised" type="submit">[[创建|创建]]</md-button>
            <md-button class="md-raised" ng-click="ctrl.showadvanced()">[[显示高级|显示高级]]</md-button>
        </kd-content>
    </kd-content-card>
    <kd-app-panel ng-if="ctrl.kdService.show" ng-repeat="com in ctrl.kdService.value.content.components track by $index" component="com" index="$index"></kd-app-panel>
    <kd-service ng-if="ctrl.kdService.show" ng-repeat="service in ctrl.kdService.value.content.services track by $index" index="$index" service="service"></kd-service>
    <kd-content-card ng-if="ctrl.kdService.show">
        <kd-title>ingress</kd-title>
        <kd-content class="kd-content-padded">
            <kd-help-section>
                <md-input-container class="md-block">
                    <label>[[是否配置|是否配置]]</label>
                    <md-select name="type" ng-model="ctrl.kdService.value.content.ingress.enabled">
                        <md-option value="true">是</md-option>
                        <md-option value="false">否</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" ng-if="ctrl.kdService.value.content.ingress.enabled=='true'">
                    <label>[[地址|地址]]</label>
                    <input type="text" required ng-model="ctrl.kdService.value.content.ingress.host" />
                </md-input-container>
                <md-input-container class="md-block" ng-if="ctrl.kdService.value.content.ingress.enabled=='true'">
                    <label>[[服务端口|服务端口]]</label>
                    <input type="number" required ng-model="ctrl.kdService.value.content.ingress.servicePort" />
                </md-input-container>
                <md-input-container class="md-block" ng-if="ctrl.kdService.value.content.ingress.enabled=='true'">
                    <label>[[服务名字|服务名字]]</label>
                    <md-select ng-model="ctrl.kdService.value.content.ingress.servicename" multiple="false">
                        <md-option selected ng-repeat="service in ctrl.kdService.value.content.services track by $index" ng-value="service.name">{{service.name}}</md-option>
                    </md-select>
                    <!-- <input type="text" required ng-model="ctrl.kdService.value.content.ingress.servicename" /> -->
                </md-input-container>
                <kd-user-help style="width: 40%;">
                </kd-user-help>
            </kd-help-section>
        </kd-content>
    </kd-content-card>
    <div>

    </div>
</form>