md-card md-card-content {
    word-break: break-all;
}

md-card md-card-title-media img,
md-card>img,
md-card>md-card-header img {
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.md-block {
    &>div {
        color: red;
    }
}

.add-workload {
    text-align: right;
    color: skyblue;
    &>p {
        display: inline-block;
        cursor: pointer;
        &>span {
            display: inline-block;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            margin-right: 10px;
            color: #ffffff;
            background-color: #cccccc;
            border-radius: 3px;
        }
    }
}

// -----------------------------------
.md-padding {
    background-color: #ffffff;
    .content-box {
        &>.create-tips {
            margin: 20px 20px;
            padding: 20px 20px;
        }
        &>.creat {
            background-color: #ffffff;
            padding: 20px;
            &>.base-process,
            &>.custom-process {
                position: relative;
                display: flex;
                margin-bottom: 80px;
                justify-content: space-between;
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    border: 1px solid rgb(51, 153, 255);
                    box-sizing: border-box;
                }
                &>p {
                    position: relative;
                    background-color: #ffffff;
                    padding: 10px 20px;
                    z-index: 99;
                    display: flex;
                    height: 30px;
                    line-height: 30px;
                    &>span:first-child {
                        width: 30px;
                        margin-right: 10px;
                        text-align: center;
                        background: #cccccc;
                        color: #ffffff;
                        border-radius: 2px;
                    }
                    &>.details-content {
                        position: absolute;
                        left: 35px;
                        top: 55px;
                        line-height: 20px;
                        font-size: 13px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 80px;
                        color: #cccccc;
                    }
                }
                &>.base-process-children-background,
                &>.custom-process-children-background {
                    &>span:first-child {
                        background: rgb(51, 153, 255);
                    }
                }
            }
            &>.base-process {
                width: 850px;
            }
        }
    }
}

.kd-content-style {
    display: flex;
    flex-wrap: wrap;
    &>md-card {
        width: 18% !important;
        height: fit-content !important;
        &>.list-content {
            display: flex;
            padding: 0;
            &>div:first-child {
                display: flex;
                align-items: center;
                width: 70px;
                img {
                    display: block;
                    width: 100%;
                }
            }
            &>div:nth-of-type(2) {
                flex: 1;
                padding: 10px;
                &>p {
                    margin: 0;
                }
                &>p:nth-of-type(1) {
                    line-height: 30px;
                }
                &>.kd-chart-card-text-description {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                    height: 43px;
                }
            }
        }
    }
}

.name-color {
    color: skyblue;
}

// .ng-invalid {
//     padding: 10px 20px;
//     background-color: #ffffff;
// }
.delete-btn {
    padding: 5px 10px;
    color: skyblue;
    cursor: pointer;
}

.disable-class {
    color: #cccccc;
}

.form-md-input-container-style-display-block {
    &>md-input-container {
        display: block;
    }
}