<md-content class="md-padding">
    <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="ctrl.currentNavItem">
        <md-nav-item md-nav-click="ctrl.tablesBaseClick()" name="base">
            [[镜像构建|镜像构建imagelist]]
        </md-nav-item>
        <md-nav-item md-nav-click="ctrl.tablesCustomClick()" name="custom">
            [[应用编排|应用编排imagelist]]
        </md-nav-item>
    </md-nav-bar>
    <div class="content-box" ng-if="ctrl.show">
        <div class="create-tips">
            [[创建镜像|创建镜像imagelist]]： 用户可以基于基础镜像创建对外提供服务的普通镜像。
        </div>
        <div class="creat">
            <div class="base-process">
                <p class="base-process-children-background"><span>1</span><span>[[选择基础镜像|选择基础镜像imagelist]]</span><span class="details-content">根据用户项目的编程语言选择对应的基础镜像</span></p>
                <p><span>2</span><span>[[选择git库地址和分支|选择git库地址和分支imagelist]]</span><span class="details-content">按照所选基础镜的要求和规范，配置源码库和具体分支</span></p>
                <p><span>3</span><span>[[输入普通镜像的名称，开始构建|输入普通镜像的名称，开始构建imagelist]]</span><span class="details-content"></span></p>
            </div>
            <div ng-if="ctrl.baseShowNum == 1? true:false">
                <kd-content layout="row" class="kd-content-style">
                    <md-card class="kd-chart-card" ng-class="image.name==ctrl.choicedBaseimage.name?'kd-chart-card-selected':''" ng-repeat="image in ctrl.baseimageList track by $index" ng-click="ctrl.choiceBaseimage(image)">
                        <md-card-content class="list-content">
                            <div class="kd-chart-card-icon-image">
                                <img ng-src="{{image.icon}}" />
                            </div>
                            <div>
                                <h2 class="kd-chart-card-text-name">{{image.name}}</h2>
                                <p class="kd-chart-color-secondary">{{image.tag}}</p>
                                <p class="kd-chart-card-text-description kd-chart-color-secondary">{{image.help}}</p>
                            </div>
                        </md-card-content>
                    </md-card>
                </kd-content>
                <div style="margin-left: 10px;line-height: 35px;">{{ctrl.choicedBaseimage.help}}</div>
                <kd-footer layout="row" layout-align="end center">
                    <md-button class="md-raised" ng-click="ctrl.fCreateBaseImagePre(ctrl.choicedBaseimage)">[[下一步|下一步imagelist]]</md-button>
                    <!-- <md-button class="md-raised" ng-click="ctrl.kdService.showS2IDialog(ctrl.choicedBaseimage)">[[S2I|S2I]]</md-button> -->
                </kd-footer>
            </div>
            <div ng-if="ctrl.baseShowNum == 2? true:false">
                <md-input-container class="md-block">
                    <label>[[仓库地址|仓库地址imagelist]]</label>
                    <input name="releasename" type="text" ng-change="ctrl.fInputChangeUrl(ctrl.baseImages.url)" required repeat ng-model="ctrl.baseImages.url">
                    <div ng-if="ctrl.oBaseFillInFields.url">
                        [[请填写此字段|请填写此字段imagelist]]
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>[[仓库分支|仓库分支imagelist]]</label>
                    <input name="releasename" type="text" ng-change="ctrl.fInputChangeBranch(ctrl.baseImages.branch)" required repeat ng-model="ctrl.baseImages.branch">
                    <div ng-if="ctrl.oBaseFillInFields.branch">
                        [[请填写此字段|请填写此字段imagelist]]
                    </div>
                </md-input-container>
                <kd-footer layout="row" layout-align="end center">
                    <md-button class="md-raised" ng-click="ctrl.fPreviousStep()">[[上一步|上一步imagelist]]</md-button>
                    <md-button class="md-raised" ng-click="ctrl.fInputMsgPre()">[[下一步|下一步imagelist]]</md-button>
                </kd-footer>
            </div>
            <div ng-if="ctrl.baseShowNum == 3? true:false">
                <md-input-container class="md-block">
                    <label>[[输入自定义镜像名称|输入自定义镜像名称imagelist]]</label>
                    <input name="releasename" type="text" ng-change="ctrl.fInputChangeName(ctrl.baseImages.name)" required repeat ng-model="ctrl.baseImages.name">
                    <div ng-if="ctrl.oBaseFillInFields.name">
                        [[请填写此字段|请填写此字段imagelist]]
                    </div>
                </md-input-container>
                <kd-footer layout="row" layout-align="end center">
                    <md-button class="md-raised" ng-click="ctrl.fPreviousStep()">[[上一步|上一步imagelist]]</md-button>
                    <md-button class="md-raised" ng-click="ctrl.fBaseImagePre()">[[开始创建|开始创建imagelist]]</md-button>
                </kd-footer>
            </div>
        </div>
    </div>
    <div class="content-box" ng-if="!ctrl.show">
        <div class="create-tips">
            [[创建应用|创建应用imagelist]]： 以普通镜像为基础, 用户可以编排、构建多组件的复杂应用。
        </div>
        <div class="creat">
            <div class="custom-process">
                <p class="custom-process-children-background"><span>1</span><span>[[选择普通镜像，输入应用名称|选择普通镜像，输入应用名称imagelist]]</span><span class="details-content">基于指定的镜像开始编排应用</span></p>
                <p><span>2</span><span>[[编辑应用组件|编辑应用组件imagelist]]</span><span class="details-content">编辑、增加、删除应用组件</span></p>
                <p><span>3</span><span>[[创建服务|创建服务imagelist]]</span><span class="details-content">各组件可以对外提供网络服务</span></p>
                <p><span>4</span><span>[[创建服务入口|创建服务入口imagelist]]</span><span class="details-content">配置应用访问入口</span></p>
            </div>
            <div ng-if="ctrl.customShowNum == 1? true:false">
                <!-- <kd-content-card ng-if="ctrl.showNum == 1? true:false"> -->
                <kd-content layout="row" class="kd-content-style" layout-wrap>
                    <md-card class="kd-chart-card" style="width:200px;height: 250px;" ng-class="image.name==ctrl.choicedNormalimage.name?'kd-chart-card-selected':''" ng-repeat="image in ctrl.normalimageList track by $index" ng-click="ctrl.choiceNormalimage(image)">
                        <md-card-content class="list-content">
                            <div class="kd-chart-card-icon-image">
                                <img ng-src="{{image.icon}}" />
                            </div>
                            <div>
                                <h2 class="kd-chart-card-text-name">{{image.name}}</h2>
                                <p class="kd-chart-color-secondary">{{image.tag}}</p>
                                <p class="kd-chart-card-text-description kd-chart-color-secondary">{{image.help}}</p>
                            </div>
                        </md-card-content>
                    </md-card>
                </kd-content>
                <!-- </kd-content-card> -->

                <md-input-container class="md-block">
                    <label>[[应用名称|应用名称]]</label>
                    <input name="releasename" type="text" ng-change="ctrl.fCustomInputChangeName(ctrl.customImages.name)" required repeat ng-model="ctrl.customImages.name">
                    <div ng-if="ctrl.oCustomFillInFields.name">
                        [[请填写此字段|请填写此字段imagelist]]
                    </div>
                    <div ng-messages="ctrl.form.releasename.$error">
                        <div ng-message="repeat">
                            [[名字重复|部署应用名字重复提示]]
                        </div>
                    </div>
                </md-input-container>
                <!-- <md-input-container class="md-block">
                    <label>输入应用名称</label>
                    <input>
                </md-input-container> -->
                <kd-footer layout="row" layout-align="end center">
                    <md-button class="md-raised" ng-click="ctrl.deploypre(ctrl.customImages.name)">[[创建应用|创建应用]]</md-button>
                </kd-footer>
            </div>
            <div ng-if="ctrl.customShowNum == 2? true:false">
                <kd-resource-card-list ng-if="ctrl.creatWorkloadNum==1?true:false" selectable="false" with-statuses="false" object-meta="{name:'alert'}">
                    <kd-resource-card-header-columns>
                        <kd-resource-card-header-column size="medium">
                            [[工作负载名称|工作负载名称imagelist]]
                        </kd-resource-card-header-column>
                        <kd-resource-card-header-column size="small">
                            [[类型|类型]]
                        </kd-resource-card-header-column>
                        <kd-resource-card-header-column size="small">
                            [[镜像|镜像imagelist]]
                        </kd-resource-card-header-column>
                        <kd-resource-card-header-column size="medium">
                            [[是否自动扩容|是否自动扩容imagelist]]
                        </kd-resource-card-header-column>
                        <kd-resource-card-header-column size="medium">
                            [[操作|操作]]
                        </kd-resource-card-header-column>
                    </kd-resource-card-header-columns>
                    <kd-resource-card ng-repeat="msg in ctrl.kdService.value.content.components track by $index" index="$index" object-meta="{name:'alert'}" type-meta="{name:'alert'}">
                        <!-- <kd-resource-card ng-repeat="email in $ctrl.emailList track by $index"> -->
                        <kd-resource-card-columns>
                            <kd-resource-card-column class="name-color" ng-click="ctrl.fSeeMsg(msg)">
                                <!-- {{email}} -->{{msg.name}}
                            </kd-resource-card-column>
                            <kd-resource-card-column>
                                <!-- {{email}} -->{{msg.appType}}
                            </kd-resource-card-column>
                            <kd-resource-card-column>
                                <!-- {{email}} -->{{msg.images[0].repository}}
                            </kd-resource-card-column>
                            <kd-resource-card-column>
                                <!-- {{email}} -->{{msg.hpa.enabled == true?"是":"否"}}
                            </kd-resource-card-column>
                            <kd-resource-card-column>
                                <div>
                                    <span class="delete-btn" ng-class="ctrl.kdService.value.content.components.length<=1? 'disable-class':''" ng-click="ctrl.fDeleteComponent($event,$index)" class="md-raised">[[删除|删除]]</span>
                                    <!-- <md-button ng-click="ctrl.delete(email)" class="md-raised">[[删除|删除]]</md-button> -->
                                </div>
                            </kd-resource-card-column>
                        </kd-resource-card-columns>
                    </kd-resource-card>
                    <div class="add-workload">
                        <p ng-click="ctrl.fAddWorkloadInit()">
                            <span>+</span>[[添加工作负载|添加工作负载imagelist]]
                        </p>
                    </div>
                    <kd-footer layout="row" layout-align="end center">
                        <md-button class="md-raised" ng-click="ctrl.fCustomPreviousStep()">[[上一步|上一步imagelist]]</md-button>
                        <md-button class="md-raised" ng-click="ctrl.deployWorkload()">[[下一步|下一步imagelist]]</md-button>
                    </kd-footer>
                </kd-resource-card-list>
                <div ng-if="ctrl.creatWorkloadNum==2?true:false">
                    <kd-app-panel ng-repeat="com in ctrl.oWorkloadComponent track by $index" component="com" index="$index"></kd-app-panel>
                    <kd-footer layout="row" layout-align="end center" style="margin-top: 20px;">
                        <md-button class="md-raised" ng-click="ctrl.fWorkloadInit()">[[确定|确定imagelist]]</md-button>
                    </kd-footer>
                </div>
                <form validate name="ctrl.oWorkload" class="form-md-input-container-style-display-block" ng-if="ctrl.creatWorkloadNum==3?true:false">
                    <md-input-container>
                        <label>[[工作负载名称|工作负载名称imagelist]]</label>
                        <input name="name" ng-model="ctrl.oWorkloadName" required>
                        <div ng-messages="ctrl.oWorkload.name.$error">
                            <div ng-message="required">[[This is required!|This is required!imagelist]]</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>[[工作负载类型|工作负载类型imagelist]]</label>
                        <md-select ng-model="ctrl.selectedUser">
                            <md-option ng-value="opt" ng-repeat="opt in ctrl.types">{{ opt }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>[[镜像地址|镜像地址imagelist]]</label>
                        <input name="url" ng-model="ctrl.oWorkloadUrl" required>
                        <div ng-messages="ctrl.oWorkload.url.$error">
                            <div ng-message="required">[[This is required!|This is required!imagelist]]</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>[[版本号|版本号imagelist]]</label>
                        <input name="version" ng-model="ctrl.oWorkloadVersion" required>
                        <div ng-messages="ctrl.oWorkload.version.$error">
                            <div ng-message="required">[[This is required!|This is required!imagelist]]</div>
                        </div>
                    </md-input-container>
                    <kd-footer layout="row" layout-align="end center">
                        <md-button class="md-raised" ng-click="ctrl.fCancelCreatWorkload()">[[取消|取消imagelist]]</md-button>
                        <md-button class="md-raised" ng-click="ctrl.fAddWorkload()">[[确定|确定imagelist]]</md-button>
                    </kd-footer>
                </form>
            </div>
            <div ng-if="ctrl.customShowNum == 3? true:false">
                <!-- <kd-service ng-repeat="service in ctrl.aWorkloadServices track by $index" index="$index" service="service"></kd-service> -->
                <kd-service ng-repeat="service in ctrl.kdService.value.content.services track by $index" index="$index" service="service"></kd-service>
                <kd-footer layout="row" layout-align="end center" style="margin-top: 20px;">
                    <md-button class="md-raised" ng-click="ctrl.fCustomPreviousStep()">[[上一步|上一步imagelist]]</md-button>
                    <md-button class="md-raised" ng-click="ctrl.deployService()">[[下一步|下一步imagelist]]</md-button>
                </kd-footer>
            </div>
            <div ng-if="ctrl.customShowNum == 4? true:false">
                <kd-content-card>
                    <kd-title>ingress</kd-title>
                    <kd-content class="kd-content-padded kd-content-style">
                        <!-- <kd-help-section layout="row"> -->
                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <label>[[是否配置|是否配置]]</label>
                                <md-select name="type" ng-model="ctrl.oWorkloadIngress.enabled">
                                    <md-option value="true">[[是|是imagelist]]</md-option>
                                    <md-option value="false">[[否|否imagelist]]</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex class="md-block" ng-if="ctrl.oWorkloadIngress.enabled=='true'">
                                <label>[[地址|地址]]</label>
                                <input type="text" required ng-model="ctrl.oWorkloadIngress.host" />
                            </md-input-container>
                            <md-input-container flex class="md-block" ng-if="ctrl.oWorkloadIngress.enabled=='true'">
                                <label>[[服务端口|服务端口]]</label>
                                <input type="number" required ng-model="ctrl.oWorkloadIngress.servicePort" />
                            </md-input-container>
                            <md-input-container flex class="md-block" ng-if="ctrl.oWorkloadIngress.enabled=='true'">
                                <label>[[服务名字|服务名字]]</label>
                                <md-select ng-model="ctrl.oWorkloadIngress.servicename" multiple="false">
                                    <md-option selected ng-repeat="service in ctrl.kdService.value.content.services track by $index" ng-value="service.name">{{service.name}}</md-option>
                                </md-select>
                                <!-- <input type="text" required ng-model="ctrl.oWorkloadIngress.servicename" /> -->
                            </md-input-container>
                        </div>
                        <!-- <kd-user-help style="width: 40%;">
                            </kd-user-help> -->
                        <!-- </kd-help-section> -->
                    </kd-content>
                </kd-content-card>
                <kd-footer layout="row" layout-align="end center" style="margin-top: 20px;">
                    <md-button class="md-raised" ng-click="ctrl.fCustomPreviousStep()">[[上一步|上一步imagelist]]</md-button>
                    <md-button class="md-raised" ng-click="ctrl.deployServiceAfter()">[[开始创建|开始创建imagelist]]</md-button>
                </kd-footer>
            </div>

            <!-- <kd-service ng-repeat="service in ctrl.kdService.value.content.services track by $index" index="$index" service="service"></kd-service> -->

        </div>
    </div>
</md-content>