<div layout="row" style="width:230px;height: 35px;border-bottom: 1px solid #e4e7ed;" layout-align="space-between center">
    Pool ：
    <md-input-container>
        <!-- <md-select ng-model="$ctrl.chartUrlOption" class="md-no-underline"> -->
        <md-select ng-model="$ctrl.chartUrlOption" class="md-no-underline" ng-change="$ctrl.changeOpt()">
            <md-option value="^.*$">all</md-option>
            <md-option value="^node1$">node1</md-option>
            <md-option value="^node3$">node3</md-option>
            <md-option value="^node4$">node4</md-option>
        </md-select>
    </md-input-container>
</div>
<div layout="row" layout-padding="50" layout-wrap="" layout-fill="" class="whiteframedemoBasicClassUsage">
    <div style="width:1329px;height: 300px;" class="chartBox">
        <kd-charts class="chartD" charturl="[$ctrl.dashboardChart1,$ctrl.dashboardChart1_1]" type="'chart'" title="'Network I/O pressure'" timerange="60" step="60" format="'MB'" reqtimerange="30" option="{ xAxis:{
                            type: 'time',
                            show:true,
                        },
                        yAxis: {
                            type: 'value',
                            show:false,
                            axisLabel:{
                                formatter :'{value} MB/s' 
                            }
                        },
                        legend:{
                            type:'scroll',
                            show:true,
                            top:20
                        },
                        tooltip : {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#6a7985'
                                }
                            },
                            formatter:$ctrl.tipFormatMb
                        },
                        lineStyle:{width:3},
                        series : [
                            {
                                name: 'Received',
                                type: 'line',
                                areaStyle: {},
                                data:[
                                ]
                            },
                            {
                                name: 'Sent',
                                type: 'line',
                                areaStyle: {},
                                data:[
                                ]
                            }
                        ]}">
        </kd-charts>
    </div>
</div>
<div layout="row" layout-padding="50" layout-wrap="" layout-fill="" class="whiteframedemoBasicClassUsage">
    <div style="width: 426px;height: 150px;" class="chartBox">
        <kd-charts class="chartD" charturl="[$ctrl.dashboardChart2]" type="'chart'" title="'Cluster memory usage'" timerange="60" step="60" format="'dashboard_1'" reqtimerange="30" option="{
                                series: [
                                    {
                                        name: 'Cluster memory usage',
                                        type: 'gauge',
                                        detail: {formatter:'{value}%',fontSize: 13},
                                        radius:'85%',
                                        data: [],
                                        title:{
                                            color:'red',
                                            fontSize:12
                                        },
                                        axisLabel:{
                                            fontSize:12
                                        },
                                        axisLine: {           
                                            lineStyle: {       
                                                width: 2
                                            }
                                        },
                                        splitLine: {         
                                            length:5         
                                        },
                                        axisTick: {         
                                            length:5,        
                                            lineStyle: {       
                                                color: 'auto'
                                            }
                                        },  
                                        pointer: {
                                            width:2
                                        },
                                    }
                                ],
                            }">
        </kd-charts>
    </div>
    <div style="width: 426px;height: 150px;" class="chartBox">
        <kd-charts class="chartD" charturl="[$ctrl.dashboardChart2_1]" type="'chart'" title="'Cluster memory usage'" timerange="60" step="60" format="'dashboard_1'" reqtimerange="30" option="{
                                    series: [
                                        {
                                            name: 'Cluster memory usage',
                                            type: 'gauge',
                                            detail: {formatter:'{value}%',fontSize: 13},
                                            radius:'85%',
                                            data: [],
                                            title:{
                                                color:'red',
                                                fontSize:12
                                            },
                                            axisLabel:{
                                                fontSize:12
                                            },
                                            axisLine: {           
                                                lineStyle: {       
                                                    width: 2
                                                }
                                            },
                                            splitLine: {         
                                                length:5         
                                            },
                                            axisTick: {         
                                                length:5,        
                                                lineStyle: {       
                                                    color: 'auto'
                                                }
                                            },  
                                            pointer: {
                                                width:2
                                            },
                                        }
                                    ],
                                }">
        </kd-charts>
    </div>
    <div style="width: 426px;height: 150px;" class="chartBox">
        <kd-charts class="chartD" charturl="[$ctrl.dashboardChart2_2]" type="'chart'" title="'Cluster memory usage'" timerange="60" step="60" format="'dashboard_1'" reqtimerange="30" option="{
                                        series: [
                                            {
                                                name: 'Cluster memory usage',
                                                type: 'gauge',
                                                detail: {formatter:'{value}%',fontSize: 13},
                                                radius:'85%',
                                                data: [],
                                                title:{
                                                    color:'red',
                                                    fontSize:12
                                                },
                                                axisLabel:{
                                                    fontSize:12
                                                },
                                                axisLine: {           
                                                    lineStyle: {       
                                                        width: 2
                                                    }
                                                },
                                                splitLine: {         
                                                    length:5         
                                                },
                                                axisTick: {         
                                                    length:5,        
                                                    lineStyle: {       
                                                        color: 'auto'
                                                    }
                                                },  
                                                pointer: {
                                                    width:2
                                                },
                                            }
                                        ],
                                    }">
        </kd-charts>
    </div>
</div>
<div layout="row" layout-padding="50" layout-wrap="" layout-fill="" class="whiteframedemoBasicClassUsage">
    <div style="width: 200px;height: 150px;" class="chartBox">
        <kd-charts class="chartD" charturl="[$ctrl.dashboardChart2_used]" type="'txt'" title="'Used'" timerange="10" step="60" reqtimerange="30" format="'GB'" option="{}">
        </kd-charts>
    </div>
    <div style="width: 200px;height: 150px;" class="chartBox">
        <kd-charts class="chartD" charturl="[$ctrl.dashboardChart2_total]" type="'txt'" title="'Total'" timerange="10" step="60" reqtimerange="30" format="'GB'" option="{}">
        </kd-charts>
    </div>
    <div style="width: 200px;height: 150px;" class="chartBox">
        <kd-charts class="chartD" charturl="[$ctrl.dashboardChart2_1_used]" type="'txt'" title="'Used'" timerange="10" step="60" reqtimerange="30" format="'cores'" option="{}">
        </kd-charts>
    </div>
    <div style="width: 200px;height: 150px;" class="chartBox">
        <kd-charts class="chartD" charturl="[$ctrl.dashboardChart2_1_total]" type="'txt'" title="'Total'" timerange="10" step="60" reqtimerange="30" format="'cores'" option="{}">
        </kd-charts>
    </div>
    <div style="width: 200px;height: 150px;" class="chartBox">
        <kd-charts class="chartD" charturl="[$ctrl.dashboardChart2_2_used]" type="'txt'" title="'Used'" timerange="10" step="60" reqtimerange="30" format="'GB'" option="{}">
        </kd-charts>
    </div>
    <div style="width: 200px;height: 150px;" class="chartBox">
        <kd-charts class="chartD" charturl="[$ctrl.dashboardChart2_2_total]" type="'txt'" title="'Total'" timerange="10" step="60" reqtimerange="30" format="'TB'" option="{}">
        </kd-charts>
    </div>
</div>
<div layout="row" layout-padding="50" layout-wrap="" layout-fill="" class="whiteframedemoBasicClassUsage">
    <div style="width:1329px;height: 300px;" class="chartBox">
        <kd-charts class="chartD" charturl="[$ctrl.dashboardChart3]" type="'chart'" title="'Pods CPU usage (1m avg)'" timerange="60" step="60" format="'podsusage1'" reqtimerange="30" option="{ xAxis:{
                            type: 'time',
                            show:true,
                        },
                        yAxis: {
                            type: 'value',
                            show:false,
                            axisLabel:{
                                formatter :'{value}' 
                            }
                        },
                        legend:{
                            type:'scroll',
                            show:true,
                            top:20
                        },
                        tooltip : {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#6a7985'
                                }
                            },
                            formatter:$ctrl.tipFormatPodGb
                        },
                        lineStyle:{width:3},
                        series : []}">
        </kd-charts>
    </div>
</div>
<div layout="row" layout-padding="50" layout-wrap="" layout-fill="" class="whiteframedemoBasicClassUsage">
    <div style="width:1329px;height: 300px;" class="chartBox">
        <kd-charts class="chartD" charturl="[$ctrl.dashboardChart4]" type="'chart'" title="'Pods memory usage'" timerange="60" step="60" format="'podsusage2'" reqtimerange="30" option="{ xAxis:{
                            type: 'time',
                            show:true,
                        },
                        yAxis: {
                            type: 'value',
                            show:false,
                            axisLabel:{
                                formatter :'{value}' 
                            }
                        },
                        legend:{
                            type:'scroll',
                            show:true,
                            top:20
                        },
                        tooltip : {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#6a7985'
                                }
                            },
                            formatter:$ctrl.tipFormatPodsMb
                        },
                        lineStyle:{width:3},
                        series : []}">
        </kd-charts>
    </div>
</div>