$chart-color-white: #fff;
$chart-border-color: #e7e7e7;
$selected-chart-color: #3b78e7;
$box-shadow-color: rgba(0, 0, 0, .12);
$chart-desc-color: rgba(0, 0, 0, .54);
.kd-chart-card {
    -webkit-border-radius: 2px;
    background: $chart-color-white;
    border: 1.1px solid $chart-border-color;
    border-radius: 2px;
    box-shadow: 0 1px 3px $box-shadow-color;
    height: 122px;
    width: 352px;
}

.kd-chart-card-selected {
    border: 2.1px solid $selected-chart-color;
}

.kd-chart-card-icon-image {
    width: 70px;
    height: 116px;
    overflow: hidden;
    &>img {
        width: 70px;
    }
}

.chartmes {
    margin-left: 10px;
}

.kd-chart-card-text-name {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    margin: 0;
    max-height: 36px;
    overflow-x: auto;
    overflow-y: hidden;
}

.kd-chart-card-description {
    font-size: 13px;
    line-height: 18px;
    max-height: 36px;
    overflow-x: hidden;
    overflow-y: auto;
}

.kd-chart-color-secondary {
    color: $chart-desc-color !important;
}

.kd-chart-card-description {
    font-family: MicrosoftYaHei;
    &::-webkit-scrollbar {
        background: transparent;
        width: 0;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #fff;
    }
}