<div layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="mima">
    <div class="my-mima-form">
        <form ng-submit="$ctrl.password()" method="POST" name="$ctrl.form" validate>
            <div class="mima-img">
                <h2><img src="assets/images/_logo.png" alt=""></h2>
            </div>
            <div class="mima-text">

                <div class="md-block mima-user" ng-if="$ctrl.islogin()">
                    <input ng-pattern="/^[A-Za-z0-9]{6,12}$/" required class="password" type="password" ng-model="$ctrl.oldpassword" name="oldpassword" placeholder="原密码/oldpassword">
                    <strong class="password-icon"></strong>
                    <div ng-show="$ctrl.showtip">[[原密码输入错误| password old password error ]]</div>
                </div>
                <div ng-messages="$ctrl.form.oldpassword.$error">
                    <div ng-message="pattern">[[只能输入字母数字6-12位| password Can only enter the alphanumeric 6-12 bits]]
                    </div>
                </div>
                <div class="md-block mima-user">
                    <input ng-pattern="/^[A-Za-z0-9]{6,12}$/" required class="password" type="password" ng-model="$ctrl.newpassword" name="newpassword" placeholder="新密码/newpassword">
                    <strong class="password-icon"></strong>
                </div>
                <div ng-messages="$ctrl.form.newpassword.$error">
                    <div ng-message="pattern">[[只能输入字母数字6-12位| password Can only enter the alphanumeric 6-12 bits]]
                    </div>
                </div>
                <div class="md-block mima-user">
                    <input ng-pattern="/^[A-Za-z0-9]{6,12}$/" required class="password" type="password" ng-pattern="$ctrl.newpassword" ng-model="$ctrl.newpassword1" name="newpassword1" placeholder="重复密码">
                    <strong class="password-icon"></strong>
                </div>
                <div ng-messages="$ctrl.form.newpassword1.$error">
                    <div ng-message="pattern">[[两次输入不一致| password Two input inconsistencies]]
                    </div>
                </div>
            </div>
            <div class="mima-btn">
                <button class="btn" id="mimaBtn" type="submit">[[确定| password Sure]]</button>
                <button class="btn" ng-if="$ctrl.islogin()" ng-click="$ctrl.cancle()">[[取消| password Cancle]]</button>
                <!--<span class="btn span-btn" type="submit">mima</span>-->
            </div>
        </form>
    </div>
</div>