.releasesidenav {
    .tixi {
        tr td:nth-child(1) {
            width: 30%;
        }
        tr td:nth-child(2) {
            width: 35%;
        }
        tr td:nth-child(3) {
            width: 35%;
        }
    }
    table {
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        border: 0;
        width: 100%;
        margin-bottom: 17px;
        border-collapse: collapse;
        border-spacing: 0;
        tbody tr:nth-child(odd) {
            background: #eee;
        }
        tr td:nth-child(1) {
            width: 20%;
        }
        tr td:nth-child(2) {
            width: 80%;
        }
        td,
        th {
            height: 38px;
            padding: 0 8px;
            vertical-align: middle;
            padding-left: 15px;
        }
        th {
            text-align: left;
            color: #fff;
            background: rgb(61, 194, 161);
            font-size: 18px;
        }
    }
}

kd-release-card-list {
    .listitem {
        width: 352px;
        height: 140px;
        padding: 10px;
        padding-bottom: 0;
        overflow: hidden;
        float: left;
        margin-bottom: 30px;
        margin: 0 16px 8px 8px;
        background: #FFFFFF;
        box-shadow: 0 1px 2px 0 rgba(33, 45, 48, 0.09);
        border-radius: 2px;
        cursor: pointer;
        &:hover {
            border: 2px solid #50D2AC;
        }
        .litemimg {
            width: 116px;
            height: 116px;
            overflow: hidden;
            &>img {
                width: 75%;
            }
        }
        .ritemmes {
            width: 196px;
            padding-left: 18px;
            padding-top: 15px;
            box-sizing: border-box;
            .istatus {
                height: 19px;
                .statuscir {
                    background: #00DEAC;
                    border-radius: 10px;
                    width: 10px;
                    height: 10px;
                    margin: 4px 11px 0 0;
                }
                .statusdesc {
                    height: 19px;
                    line-height: 19px;
                    font-size: 14px;
                    color: #9B9B9B;
                }
            }
            .releasename {
                height: 40px;
                font-size: 20px;
                color: #717171;
                line-height: 40px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .releasetime {
                height: 19px;
                line-height: 19px;
                font-size: 14px;
                color: #9B9B9B;
            }
        }
        .releasedel {
            height: 38px;
            font-size: 16px;
            line-height: 38px;
            width: 50px;
            text-align: center;
            float: right;
            &:hover {
                background: rgba(227, 227, 227, 0.69);
            }
        }
    }
}