<div class="rizhi-box">
    <div class="rizhi-table">
        <div ng-if="$ctrl.show()" ng-class="$ctrl.active('rizhi.platform')?'rizhi-router rizhi-router-link-exact-active active':'rizhi-router'">
            <a ng-href="{{'#!/rizhi/platform?namespace='+$ctrl.stateParams}}">[[platform|platform-rizhi]]</a></div>
        <div ng-if="$ctrl.show()" ng-class="$ctrl.active('rizhi.node')?'rizhi-router rizhi-router-link-exact-active active':'rizhi-router'">
            <a ng-href="{{'#!/rizhi/node?namespace='+$ctrl.stateParams}}">[[Node|Node-rizhi]]</a></div>
        <div ng-class="$ctrl.active('rizhi.logManagement')?'rizhi-router rizhi-router-link-exact-active active':'rizhi-router'">
            <a ng-href="{{'#!/rizhi/logManagement?namespace='+$ctrl.stateParams}}">[[logManagement|logManagement-rizhi]]</a>
        </div>
        <div ng-if="$ctrl.show()" ng-class="$ctrl.active('rizhi.logAnalysis')?'rizhi-router rizhi-router-link-exact-active active':'rizhi-router'">
            <a ng-href="{{'#!/rizhi/logAnalysis?namespace='+$ctrl.stateParams}}">[[logAnalysis|logAnalysis-rizhi]]</a>
        </div>
    </div>
    <!-- <kd-content-card flex-offset="0" flex="100">
        <kd-content>
            <ui-view></ui-view>
        </kd-content>
    </kd-content-card> -->
    <div>
        <ui-view></ui-view>
    </div>
</div>

<!-- <kd-content-card>
    <kd-content>
        <div class="rizhi" style="height:100%;">
            &nbsp;&nbsp;&nbsp;[[详细日志信息请访问一体式日志中心:|详细日志信息请访问一体式日志中心:]]
            <br/> &nbsp;&nbsp;&nbsp;
            <a target="_blank" ng-href="{{$ctrl.url()}}">{{$ctrl.url()}}</a>
        </div>
    </kd-content>
</kd-content-card> -->

<!-- <kd-content-card>
    <kd-title>[[平台日志|jiankong Kubernetes 平台日志]]</kd-title>
    <kd-content>
        <a ng-href="{{$ctrl.url()}}" target="_blank">
            <div class="jkbox" layout="row">
                <div class="jkimagebox" layout="row" layout-align="center center">
                    <img src="assets/images/logss.png" alt="平台日志">
                </div>
                <div class="jkdescbox">
                    <div class="jktitle">[[平台日志|jiankong 平台日志]]</div>
                    <div class="jkdesc">[[平台日志展示以及分析|jiankong 平台日志展示以及分析]]</div>
                </div>
            </div>
        </a>
    </kd-content>
</kd-content-card> -->