<div layout="row" style="width:1522px;">
    <div class="resource basebox">
        <div class="restitle">[[集群状态|newhome Cluster state]]</div>
        <div layout="row" layout-align="space-around" class="statusbox">
            <div class="sitem">
                <!-- <div style="width: 173px;margin: 0 auto;"> -->
                <div class="num" layout="row">
                    <div>
                        <img src="assets/images/apps.png" alt="">
                    </div>
                    <div>
                        {{$ctrl.releaselist.listMeta.totalItems}}
                    </div>
                </div>
                <div class="itemlist">
                    <div class="itemstatus" ng-repeat="release in $ctrl.releaselist.releases" ng-class="{'itemgood':release.info.status.code==8,'itemwrong':release.info.status.code==9}">
                        <md-tooltip>{{release.name}}</md-tooltip>
                    </div>
                    <div class="itemstatus" ng-repeat="release in $ctrl.releasestatus" ng-if="$index<21-$ctrl.releaselist.listMeta.totalItems"></div>
                </div>
                <!-- </div> -->
                <div class="statusdesc" layout="row" layout-align="space-between">
                    <div layout="row">
                        [[<b>应用:</b>&nbsp;&nbsp;&nbsp;&nbsp;异常| newhome Application: abnormality]] &nbsp;
                        <span>{{$ctrl.releasenum.abnormal}}</span>
                    </div>
                    <div layout="row">[[正常: |newhome normal]]&nbsp; <span> {{$ctrl.releasenum.normal}}</span> </div>
                </div>
            </div>
            <div class="sitem" layout="row">
                <!-- <div style="width: 173px;margin: 0 auto;"> -->
                <!-- <div class="num" layout="row">
                    <div>
                        <img src="assets/images/server.png" alt="">
                    </div>
                    <div>
                        {{$ctrl.nodelist.nodes.length}}
                    </div>
                </div> -->
                <div style="width:75px;padding-right: 10px;box-sizing: border-box" layout="column" layout-align="space-between center">
                    <img width="100%" height="75" style="margin-top:10px;" src="assets/images/x86.png" alt="">
                    <img width="100%" height="75" style="margin-bottom:70px;" src="assets/images/arm.png" alt="">
                </div>
                <div class="nodebox">
                    <div class="itemlist">
                        <div class="itemstatus" ng-repeat="node in $ctrl.amdnodelist" ng-class="{'itemgood':node.ready=='True','itemwrong':node.ready!='True'}">
                            <md-tooltip>{{node.objectMeta.name}}</md-tooltip>
                        </div>
                        <div class="itemstatus" ng-repeat="node in $ctrl.nodestatus" ng-if="$index<14-$ctrl.amdnodelist.length"></div>
                    </div>
                    <!-- </div> -->
                    <div class="statusdesc" layout="row" layout-align="space-between">
                        <div layout="row">
                            [[<b>服务器:</b>&nbsp;&nbsp;&nbsp;&nbsp;异常 |newhome Server: exception]] &nbsp;
                            <span>{{$ctrl.nodenum.amdabnormal}}</span>
                        </div>
                        <div layout="row">[[正常: |newhome normal]]&nbsp; <span> {{$ctrl.nodenum.amdnormal}}</span> </div>
                    </div>
                    <!-- </div>
                <div class="nodebox"> -->
                    <div class="itemlist">
                        <div class="itemstatus" ng-repeat="node in $ctrl.armnodelist" ng-class="{'itemgood':node.ready=='True','itemwrong':node.ready!='True'}">
                            <md-tooltip>{{node.objectMeta.name}}</md-tooltip>
                        </div>
                        <div class="itemstatus" ng-repeat="node in $ctrl.nodestatus" ng-if="$index<14-$ctrl.armnodelist.length"></div>
                    </div>
                    <!-- </div> -->
                    <div class="statusdesc" layout="row" layout-align="space-between">
                        <div layout="row">
                            [[<b>服务器:</b>&nbsp;&nbsp;&nbsp;&nbsp;异常 |newhome Server: exception]] &nbsp;
                            <span>{{$ctrl.nodenum.armabnormal}}</span>
                        </div>
                        <div layout="row">[[正常: |newhome normal]]&nbsp; <span> {{$ctrl.nodenum.armnormal}}</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="net basebox">
        <div class="restitle">
            [[集群存储|newhome Cluster storage]]
            <span class="storageGoodStatus" ng-if="$ctrl.fsmonMes.storageStatus=='1'">
                    [[正常 |newhome normal]]
            </span>

            <span class="storageWarnStatus" ng-if="$ctrl.fsmonMes.storageStatus=='HEALTH_WARN'">
                [[告警| newhome warn]]
                <md-tooltip>[[30分钟以上未自行恢复，请立即联系厂商解决|]]</md-tooltip>
            </span>

            <span class="storageWrongStatus" ng-if="$ctrl.fsmonMes.storageStatus=='0'">
                    [[异常|newhome abnormal]]
                    <md-tooltip>[[存储集群已经不可用，请立即联系厂商解决|]]</md-tooltip>
            </span>
        </div>
        <div class="storagetubox" layout="row">
            <div class="storageleft">
                <div class="storageusetu"></div>
                <div class="storagedesc" layout="row" layout-align="space-around">
                    <div>[[已使用:| newhome Used:]]</div>
                    <div>{{$ctrl.fsmonMes.storageUsed | kdMemory}}</div>
                    <div>[[可用:|newhome Available:]]</div>
                    <div>{{$ctrl.fsmonMes.storageAvailable | kdMemory}}</div>
                    <div>[[总共:|newhome Total:]]</div>
                    <div>{{$ctrl.fsmonMes.storageTotal | kdMemory}}</div>
                </div>
            </div>
            <div class="storageright">
                <div class="wsto">
                    <div class="storate">[[写入|newhoem Write]]</div>
                    <div class="rateitem">
                        <span>
                            {{($ctrl.fsmonMes.storageWriteBytes | kdMemory)==0?'0':($ctrl.fsmonMes.storageWriteBytes | kdMemory).substr(0,($ctrl.fsmonMes.storageWriteBytes | kdMemory).length-2)}}
                        </span> {{($ctrl.fsmonMes.storageWriteBytes | kdMemory)==0?'kb':($ctrl.fsmonMes.storageWriteBytes | kdMemory).substr(-2)}}/s
                    </div>
                    <div class="rateitem"><span>{{$ctrl.fsmonMes.storageWriteOps}}</span>op/s</div>
                </div>
                <div class="wsto">
                    <div class="storate">[[读取| newhome Read]]</div>
                    <div class="rateitem">
                        <span>
                            {{($ctrl.fsmonMes.storageReadBytes | kdMemory)==0?'0':($ctrl.fsmonMes.storageReadBytes | kdMemory).substr(0,($ctrl.fsmonMes.storageReadBytes | kdMemory).length-2)}}
                        </span> {{($ctrl.fsmonMes.storageReadBytes | kdMemory)==0?'kb':($ctrl.fsmonMes.storageReadBytes | kdMemory).substr(-2)}}/s</div>
                    <div class="rateitem"><span>{{$ctrl.fsmonMes.storageReadOps}}</span>op/s</div>
                </div>
            </div>
        </div>
    </div>
    <div class="rightbox">
        <div class="use basebox">
            <div class="usetitle">[[集群使用率|newhome Cluster usage]]</div>
            <div class="usetubox">
                <div class="usetu" layout="row">
                    <div class="usetuzi">CPU</div>
                    <div class="cputu">
                        <div class="usecpu" ng-class="{'cmwarn':$ctrl.cmRate[0]>90}" ng-style='{width:$ctrl.cmRate[0]+"%"}'></div>
                    </div>
                    <div class="percent">{{$ctrl.cmRate[0]}}%</div>
                </div>
                <div class="usetu" layout="row">
                    <div class="usetuzi">[[内存|newhome Memory]]</div>
                    <div class="memtu">
                        <div class="usemem" ng-class="{'cmwarn':$ctrl.cmRate[1]>90}" ng-style='{width:$ctrl.cmRate[1]+"%"}'></div>
                    </div>
                    <div class="percent">{{$ctrl.cmRate[1]}}%</div>
                </div>
            </div>
        </div>
        <div class="warn basebox">
            <div class="warntitle">[[警告状态|newhome Warning state]]</div>
            <div layout="row" layout-align="space-between center" class="warnmes" ng-class="{'nowarns':$root.alertsnum==0}">
                <div class="warndesc">{{$root.alertsnum==0?$ctrl.i18n.MSG_HOME_NO_WARN:$ctrl.i18n.MSG_HOME_HAVE_WARN}}</div>
                <div class="warncount" ng-click="$root.getwarning($event)">{{$root.alertsnum}}</div>
            </div>
        </div>
    </div>
</div>
<div flex layout="row" class="eight">
    <div class="eritem basebox" md-whiteframe="2">
        <div layout="row" layout-align="space-between" class="ratebox">
            <div class="nettext">[[服务器CPU|newhome Server CPU]]</div>
            <div layout="column" class="receivebox">
            </div>
        </div>
        <div class="linebox" flex="100"></div>
    </div>
    <div class="eritem basebox" md-whiteframe="2">
        <div layout="row" layout-align="space-between" class="ratebox">
            <div class="nettext">[[服务器内存|newhome Server Memory]]</div>
            <div layout="column" class="receivebox">
            </div>
        </div>
        <div class="linebox" flex="100"></div>
    </div>
    <div class="eritem basebox" md-whiteframe="2">
        <!-- <div class="cephtitle" flex="100">服务器网络</div>
        <div class="linebox" flex="100" style="height:132px;"></div>
        <div class="linebox" flex="100" style="height:132px;"></div> -->
        <div layout="row" layout-align="space-between" class="nettextbox">
            <div class="nettext">[[服务器网络|newhome Server Network]]</div>
            <div layout="column" class="receivebox">
                <div class="receive">[[千兆网|newhome GigE]]</div>
                <div class="cur_rec_rate"></div>
            </div>
        </div>
        <div class="rec_rate"></div>
        <div layout="row" layout-align="space-between" class="nettextbox">
            <div class="nettext"></div>
            <div layout="column" class="receivebox">
                <div class="receive">[[万兆网|newhome 10 GigE]]</div>
                <div class="cur_rec_rate"></div>
            </div>
        </div>
        <div class="send_rate"></div>
    </div>
</div>
<div class="releaselistbox basebox">
    <div class="releasetitle">
        [[在线应用|newhome Release]]
    </div>
    <div class="listbox">
        <div layout="row" class="listitem" ng-repeat="release in $ctrl.releaselist.releases">
            <div class="litemimg">
                <img ng-src="{{release.chart.metadata.icon}}" alt="">
            </div>
            <div class="ritemmes">
                <div class="istatus" layout="row">
                    <div class="statuscir" ng-style="{background:release.info.status.code==9?'#FF9F00':'#00DEAC'}">
                        <md-tooltip ng-if="release.info.status.code==9">[[30分钟以上未自行恢复，请立即联系厂商解决| newhome ]]</md-tooltip>
                    </div>
                    <div class="statusdesc">{{$ctrl.statusCodes[release.info.status.code]}}</div>
                </div>
                <div class="releasename">{{release.name}}</div>
                <div class="releasetime">[[运行时长|newhome Age]]:{{release.info.last_deployed.seconds * 1000 | relativeTime}}</div>
            </div>
        </div>
        <div ng-if="$ctrl.releaselist.listMeta.totalItems==0" class="norelease">
            [[暂无应用| newhome No Release]]
        </div>
    </div>
</div>